.title{
    background-image: url('../img/pattern.png');
    background-color:cornflowerblue;
    background-size: auto;
    height: 180px;
}
.title-imge{
    height: 50px;
    position: relative;
    bottom: -115px;
}
h1{
    margin-bottom: 5px;
}
.credit{
    margin-top: 5px;
}
.photo-description{
    font-size: 10px;
}
thead{
    background-color:rgb(43, 97, 168)
}
thead{
    color: white;
    text-align: left;
}
.crule{
    background-color: rgb(136, 214, 240);
    width: 250px;
}
.monitor{
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    height: 200px;
    color:white;
    text-indent: 20px;
}
.img2{
    background-image: url('../img/graph.jpg');;
    background-repeat: no-repeat;
    color: white;
    height: 200px;
    text-indent: 20px;
}
#booleaner{
    color: rgb(93, 170, 233);
}
.credit{
    color:gray
}
table{
    border-collapse: collapse;
}
td{
    min-width: 200px;
}